.link-destination{
    color: #85888E;
}

.link-destination:hover{
    border-bottom: 2px solid #85888E;
    color: #85888E;
}

.is-active-destination{
    color: white;
    border-bottom: 2px solid white;
}

.bg-destination{
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat center center /cover;
}
.bg-destination-md{
    background: url("../assets/destination/background-destination-tablet.jpg") no-repeat center center /cover;
}
.bg-destination-lg{
    background: url("../assets/destination/background-destination-desktop.jpg") no-repeat center center /cover;
}