.bg-technology{
    background: url("../assets/technology/background-technology-mobile.jpg") no-repeat center center;
}
.bg-technology-md{
    background: url("../assets/technology/background-technology-tablet.jpg") no-repeat center center;
}
.bg-technology-lg{
    background: url("../assets/technology/background-technology-desktop.jpg") no-repeat center center;
}


.link-technology{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: 1px solid #b8babd;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link-technology:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}

.is-active{
    background-color:  white;
    color: black;
}

.header-image-container{
    height: 40vh;
}